/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
h1, h2 {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
}

body {
     font-family: "Roboto", sans-serif;
     background-color: rgb(246, 249, 252);
}


/******************************************
/* LAYOUT
/*******************************************/

/* ---- Header and nav styling ---- */
header nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

h1, h2, p {
     color: rgb(53, 69, 87);
}

nav ul {
     display: flex;
     color: rgb(63, 81, 99);
}

nav ul li {
     margin: 0 20px;
     text-decoration: none;
     list-style: none;
     text-align: center;
}

nav ul li a {
     color: rgb(63, 81, 99);
     text-decoration: none;
}

nav button {
     background-color: rgb(53, 69, 87);
     color: rgb(245, 248, 251);
     width: 8rem;
     height: 2.5rem;
     border: none;
}

nav button a {
     color: rgb(245, 248, 251);
     text-decoration: none;
     font-weight: 500;
}

nav button:hover {
     cursor: pointer;
}


/* ---- Main section styling ---- */
main {
     display: flex;
}

section {
     margin: 50px 0;
}

h1 {
     font-size: 2.75rem;
}

.main-text {
     margin: auto;
     padding: 0 100px;
}

.main-text span {
     color: rgb(129, 147, 166);
     font-weight: 700;
}

form input {
     background-color: rgb(226, 233, 239);
     border: none;
     width: 250px;
     height: 40px;
     padding: 0 15px;
}

form button {
     height: 40px;
     border: none;
     background-color: rgb(53, 69, 87);
     font-weight: 500;
     color: rgb(245, 248, 251);
     padding: 0 30px;
}

form button:hover {
     cursor: pointer;
}


/* ---- Feature section styling ---- */
.feature-section ul {
     display: flex;
}

.feature-section ul li {
    list-style: none;
    margin: 0 40px;
}

.feature-section h3 {
     color: rgb(53, 69, 87);
}

.feature-section a {
     color: rgb(53, 69, 87);
     text-decoration: none;
     font-weight: 550;
}

.feature-section img {
     height: 50px;
}

/* ---- Feature section styling ---- */
.info-section {
     background-color: #fff;
     padding: 30px 100px;
}

.info-section h2 {
     font-size: 2.5rem;
     width: 40%;
}

.info-section p {
     width: 45%;
}

.info-section div {
     height: 400px;
     width: auto;
     background-color: rgb(226, 233, 239);
     margin: 40px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* ---- Mobile styling ---- */
@media only screen and (max-device-width: 600px) {
     header nav ul, header button {
          display: none;
     }

     header {
          border-bottom: 2px solid rgb(53, 69, 87);
          margin-bottom: 50px;
     }

     header nav h2 {
          font-size: 4rem;
     }

     h1 {
          font-size: 5rem;
     }

     header nav h2 {
          text-align: center;
          width: 90%;
     }

     header nav img {
          float: left;
          width: 10%;
     }

     .main-text span, .main-text p {
          font-size: 2rem;
     }

     .main-section-image {
          display: none;
     }

     .main-image-mobile {
          float: right;
          clear: both;
     }

     form input, form button {
          width: 100%;
          font-size: 2rem;
          height: 5rem;
          margin: 10px 0;
     }

     .feature-section ul  {
          display: flex;
          flex-wrap: wrap;
          clear: both;
     }

     .feature-section ul li {
          width: 100%;
          font-size: 2rem;
          padding: 60px 0;
          text-align: center;
     }

     .info-section {
          text-align: center;
     }

     .info-section h2 {
          font-size: 4rem;
          width: 100%;
     }

     .info-section p {
          width: 100%;
          font-size: 2rem;
     }
}

@media only screen and (min-device-width: 601px) {
     header nav img {
          display: none;
     }

     .main-image-mobile {
          display: none;
     }
}