/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-image: url(../images/gradient.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     font-size: 10px;
     color: white;
}

h1 {
     font-family: "Lilita One", sans-serif;
     font-size: 5rem;
     text-align: center;
}

ul {
     list-style: none;
     padding: 0;
     display: flex;
     justify-content: space-around;
}

ul li, #reset {
     font-family: "Zain", sans-serif;
     font-weight: 700;
     font-size: 2.2rem;
     border: 2px solid white;
     padding: 5px 8px;
     border-radius: 12px;
     cursor: pointer;
     flex-wrap: wrap;
     background-color: rgba(192,192,192,0.5);
     box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.65);
}

/* li:hover {
     cursor: pointer;
} */

li:active {
     color: gray;
}

#reset {
     display: flex;
     justify-content: center;
     margin: 11rem 0;
     font-size: 1.5rem;
     font-weight: 500;
     border: 1.5px solid white;
}


/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
