/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

section {
  /* height: 600px; */
  padding: 10px 75px;
}


/******************************************
/* LAYOUT
/*******************************************/
/* ----- Header and nav styling ----- */
.header-main {
  background-image: url(../images/fruit-veg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 75px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* ----- Main Section Styling ----- */
main {
  width: 50%;

}

h1 {
  width: 75%;
  font-size: 4rem;
}

form input {
  width: 70%;
  padding: 10px 7px;
  border-radius: 8px 0 0 8px;
  border: 1px solid gray;
  margin-right: -10px;
}

form button {
  width: 15%;
  padding: 11px 10px;
  border-radius: 0 8px 8px 0;
  background-color: rgb(239, 142, 52);
  border: none;
}

form button:hover {
  cursor: pointer;
}

form button a {
  color: white;
  text-decoration: none;
}

main ul {
  display: flex;
  padding: 0;
}

main ul li {
  list-style: none;
  margin-right: 20px;
}

main ul li a {
  text-decoration: none;
  color: black;
}

/* ----- About Us Section Styling ----- */
.about-us {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 60%;
}

.about-us {
  /* background image */
  background-image: url(../images/cherry-pie.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* section styling */
  height: 600px;
}

h2 {
  font-size: 3.5rem;
  margin-top: 0;
}

h6 {
  margin-bottom: 10px;
}

.about-us p {
  /* width: 50%; */
}

/* ----- Footer Styling ----- */
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
