*{
    box-sizing: border-box;
}

header, footer {
    border: 3px solid #000000;
    height: 80px;
    clear: both;
}

section {
    border: 3px solid black;
    height: 100px;
    float: left;
}

.one {
    width: 20%;
}

.two {
    width: 40%;
}

.three {
    width: 20%;
}

.four {
    width: 20%;
}