/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgb(105, 118, 136);
     font-family: "Open Sans", sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
/* ----- Header Styling ----- */

nav ul {
     display: flex;
     justify-content: space-between;
     margin: 0;
     padding: 0;
     font-weight: 600;
}

header nav ul {
     list-style: none;
     padding: 20px 15px;
}

nav div {
     display: flex;
}

nav div li {
     margin-right: 10px;
}

nav li, nav a {
     color: white;
}

nav a {
     text-decoration: none;
}

nav button {
     border: none;
     padding: 10px 8px; 
     border-radius: 5px;
     background-color: white;
     color: rgb(105, 118, 136);
     font-weight: 700;
}

/* ----- Main Styling ----- */
h1, p {
     color: white;
     text-align: center;
}

h1 {
     font-size: 3rem;
     font-weight: 600;
}

p {
     padding: 0 275px;
}

main a {
     color: white;
     text-decoration: none;
}

main p img {
     height: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
