/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  float: left;
  margin: 0 5%;
}

nav {
  height: 50px;
  width: auto;
}

header img {
  height: 100px;
  width: auto;
}

nav li {
  float: left;
  margin-right: 10px;
}

main {
  clear: both;
}

main img {
  float: left;
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav ul li {
  list-style: none;
}

section ul li {
  list-style: none;
  float: left;
  width: 12.5%;
}