<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Cuisine Restaurant</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="header-main">
			<header>
				<img src="" alt="icon">
				<nav>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">Menu</a></li>
						<li><a href="">Order Now</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Location</a></li>
						<li><a href="">Trolley Icon</a></li>
						<li><a href="">Search Icon</a></li>
					</ul>
				</nav>
			</header>

			<main>
				<h1>Welcome<br> To Our Cuisine Restaurant</h1>
				<form action="">
					<input type="text" placeholder="Search here">
					<button><a href="">Location</a></button>
				</form>
				<ul>
					<li><a href="">Facebook Icon - 252k</a></li>
					<li><a href="">Twitter Icon - 62k</a></li>
					<li><a href="">Instagram Icon - 55k</a></li>
				</ul>
			</main>
		</section>

		<section class="about-us">
			<div class="container">
				<h6>About Us</h6>
				<h2>Discover Our Restaurant Story</h2>
				<p	>Cuisine is a team work of Cuisine Restaurant Cafe, we aim at 	promoting the foodstuff industry through the branches, we 	establish and through the new dishes, and integrate between 	different cultures. Nullam quis ante. Etiom sit amet orci eget 	eros faucibus tin cidunt. Dus leo. Sed fringila mauris sit amet 	nibh. Dones sodales cogittis magno. Aonean commodo ligulo. Sed 	fringila mauris ait amot nibh. Dondo sodalos cogittio magna. 	Ancon commodo ligula.
					
				Nullam quia ante. Etiam ait amat orci eget oros faucibus 	tincidunt. Duia leo. Sed fringilla mauris ait amet nibh. Donec 	sodales angittia magna. Aenean commodo ligula.</p>
				<div>
					<button><a href="">Discover Menu</a></button>
					<button>Arrow</button>
				</div>
		</div>
		</section>

		<section class="speciality-cuisine">
			<h6>Order Online Now</h6>
			<h2>Our Speciality Cuisine</h2>
			<ul class="meal-section">
				<li><a href="">Breakfast</a></li>
				<li><a href="">Lunch</a></li>
				<li><a href="">Dinner</a></li>
				<li><a href="">Dessert</a></li>
				<li><a href="">Shake</a></li>
			</ul>

			<ul class="food-image-section">
				<li><img src="images/eggs-benedict.jpg" alt=""></li>
				<li><img src="images/pasta.jpg" alt=""></li>
				<li><img src="images/salad.jpg" alt=""></li>
				<li><img src="images/eggs-avocado.jpg" alt=""></li>
			</ul>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
